<header>
  <div class="header-buttons">
    <div class="left-buttons">
      <a href="/" class="home-button">Home</a>
      <a href="/tutd" class="tutd-button">Tutd</a>
      <a href="/users" class="users-button">Users</a>
    </div>
    <div class="right-buttons">
      <a href="/login" class="login-button">Login</a>
    </div>
  </div>
</header>
