.long-bar {
    background-color: #333;
    height: 10px;
    width: 100%;
    display: flex;
  }
  
  .part {
    flex: 1;
    background-color: #fff;
  }

  .ip-address {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8em;
  }
  