<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <%- include('_header') %>
  <div class="card-container">
    <% for (let [ip, name] of visitors) { %>
      <div class="card">
        <div class="card-name">
          <%= name %>
        </div>
        <div class="card-ip">
          <%= ip %>
        </div>
      </div>
    <% } %>
  </div>
  <%- include('_footer') %>
</body>
</html>
