<!DOCTYPE html>
<html>
<head>
  <title>Users</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <%- include('_header') %>
  <div class="users-container">
    <% visitors.forEach(function(visitor) { %>
      <div class="visitor-card">
        <h2>Visitor's IP</h2>
        <p><%= visitor %></p>
      </div>
    <% }); %>
  </div>
  <%- include('_footer') %>
</body>
</html>
